/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.navbar {
  background: #eee;
}

.emblem {
  width: 2em;
}

.lead {
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

li {
  font-size: 1.25rem;
}

footer {
  position: absolute;
  bottom: 1em;
}
/* INDEX.HTML
-------------------------------------------------- */
/* JUMBOTRON */

.jumbotron {
  position: relative;
  background: url(../img/featured.jpg) 0 35% /cover;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron > img {
  width: 15em;
  z-index: 1;
}

.logo {
  width: 10em;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
  background: #000;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.rounded-circle {
  background: #e5e5e5;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* ABOUT.HTML
-------------------------------------------------- */
/* INTRODUCTION */
.container.introduction {
  margin-top: 5em;
  margin-bottom: 2em;
}

.hong {
  background: url(../img/prof-hong.JPG);
  height: 250px;
  background-size: cover;
  background-position: center;
}

/* STAFF.HTML
-------------------------------------------------- */
/* FEATURETTES */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.row.featurette {
  align-items: center;
}

/* Featurette Images
------------------------- */

.featurette-image-container {
  height: 500px;
}

.sooyeon {
  background: url(../img/Soo-Yeon.jpg) center/cover;
}

.gene {
  background: url(../img/Gene.JPG) 0 0/cover;
}

.kt {
  background: url(../img/KT-Eddy.JPG) center/cover;
}

.phuong {
  background: url(../img/Phuong.jpg) center/cover;
}

/* SAGENDA.HTML
-------------------------------------------------- */
/* IFRAME */
iframe {
  width: 100%;
  padding: 1em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .jumbotron > img {
    width: 25em;
  }
  .featurette-heading {
    font-size: 50px;
  }
  .hong {
    height: 300px;
  }
}
